/* CSS for the slideshow */

.slideshow-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}


.navigation {
    position: absolute; 
    top: 10px; 
    width: 100%;
    text-align: center;
    z-index: 10; 
}

.nav-button {
    display: inline-block;
    width: 50px;
    height: 30px;
    margin: 0 5px;
    background-color: #ddd;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
}

.nav-button:hover {
    background-color: #bbb;
}


input[type="radio"] {
    display: none;
}


.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    margin-top: 50px; 
}


.slide {
    min-width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
    padding: 20px;
    border-radius: 15px;
}


#slide1:checked ~ .slides {
    transform: translateX(0);
}

#slide2:checked ~ .slides {
    transform: translateX(-100%);
}


.project_name_and_pic {
    width: 48%;
    text-align: center;
    margin-right: 2%;
}


.project_description {
    width: 48%;
    text-align: left;
    margin-left: 2%;
}


.header {
    margin-top: 50px;
    margin-left: 50px;
    text-align: center;
    color: white;
    height: 65vh;
    font-family: 'Garamond', serif;
    font-size: 30px;
    

    
}



.body {
    background: linear-gradient(to bottom, black, rgb(10, 10, 135), rgb(47, 140, 172));
}

.nav {
    height: 35vh;

    ul {
        list-style-type: none; 
        padding: 0;           
        margin: 0;             
        display: flex;         
        justify-content: center;
    }

    li {
        margin-right: 20px;
        text-align: center; 
        border-radius: 20px; 
        padding: 20px;
        background: linear-gradient(to bottom, rgb(96, 188, 218), white); 
        box-shadow: 0 0px 15px orange;
		border: 3px solid white;
        font-family: 'Garamond', serif;

        font-size: 30px; 
        
        &:last-child {
            margin-right: 0;
        }

        a {
            text-decoration: none;
            color: inherit;
        }
    }
}






