/* CSS for the slideshow */

.slideshow-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}


.navigation {
    position: absolute; 
    top: 10px; 
    width: 100%;
    text-align: center;
    z-index: 10; 
}

.nav-button {
    display: inline-block;
    width: 50px;
    height: 30px;
    margin: 0 5px;
    background-color: #ddd;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
}

.nav-button:hover {
    background-color: #bbb;
}


input[type="radio"] {
    display: none;
}


.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    margin-top: 50px; 
}


.slide {
    min-width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
    padding: 20px;
    border-radius: 15px;
}


#slide1:checked ~ .slides {
    transform: translateX(0);
}

#slide2:checked ~ .slides {
    transform: translateX(-100%);
}


.project_name_and_pic {
    width: 48%;
    text-align: center;
    margin-right: 2%;
}


.project_description {
    width: 48%;
    text-align: left;
    margin-left: 2%;
}

/* CSS for the background of the whole website */


/* .body {
    background-image: url("C:/Users/iamsk/sks_HTML/Personal Website Project/background_gradient.png");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
} */


/* .body {
    background: radial-gradient(circle, blue, white);
} */

.body {
    background: linear-gradient(to bottom, rgb(10, 10, 135), aqua, white);
}




